    <div class="card">
        <style>
            h1 {
                text-align: center;
            }
        </style>
        <h1>404 Page</h1>
        <h1>Lost in Space..</h1>
        <a href="http://localhost:5000/form">Povratak</a>
    </div>