    <div class="card">
        <style>
            h1 {
                text-align: center;
            }
        </style>
        <h1 style="color:#ffdf2b;">404 Page</h1>
        <h1>Lost in Space..</h1>
        <div class="form-part">
            <input type="button" value="Povratak" onclick="window.location.assign('/{{homeRoute}}')">
        </div>
    </div>