    <div class="heading">
        <h1>Raspored bot</h1>
    </div>
    <div class="card">
        {{#if before}}
        <p>Želite li poništiti pretplatu s Raspored botom?</p>
        <form action='/{{unsubscribeRoute}}/{{tokenURL}}' method="POST">
            <div class="form-part">
                <input type="submit" value="Poništi pretplatu" id="click" name="click">
            </div>
        </form>
        {{/if}}

        {{#if after}}
        <p>Uspješno ste poništili pretplatu s adresom <b>{{email}}</b>.</p>
        <div class="form-part">
            <input type="button" value="Natrag na početnu" id="end-button" onclick="window.location.assign('../{{homeRoute}}')">
        </div>
        {{/if}}

        {{#if invalid}}
        <p>Link ne postoji ili je istekao, pokušajte ponovno ispuniti obrazac za prekid pretplate.</p>
        <p>Kliknite <a href="./">ovdje</a> kako bi ispunili obrazac.</p>
        {{/if}}
    </div>

