    <div class="heading">
        <h1>Raspored bot</h1>
    </div>
    <div class="section-container">
        <div class="section">
            <h2><a href="/subscribe">Pretplati se</a></h2>
        </div>
        <div class="section">
            <h2><a href="#">Postavke raÄuna</a></h2>
        </div>
        <div class="section">
            <h2><a href="/unsubscribe">Prekini pretplatu</a></h2>
        </div>
    </div>