    <script>

        let url = window.location.href.split('/');
        let token = url[url.length - 1];
        const data = {token}
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        fetch('/unsubscribe/' + data.token, options);
        
    </script>
    <div class="heading">
        <h1>Raspored bot</h1>
    </div>
    <div class="card">
        {{#if before}}
        <p>Želiš li poništiti pretplatu s Raspored botom?</p>
        <form action={{tokenURL}} method="POST">
            <div class="form-part">
                <input type="submit" value="Poništi pretplatu" id="click" name="click">
            </div>
        </form>
        {{/if}}

        {{#if after}}
        <p>Uspješno si poništio pretplatu s adresom <b>{{email}}</b>.</p>
        <div class="form-part">
            <input type="button" value="Natrag na početnu" id="end-button" onclick="window.location.assign('../home')">
        </div>
        {{/if}}

        {{#if invalid}}
        <p>Link ne postoji ili je istekao, pokušajte ponovno ispuniti obrazac za prekid pretplate.</p>
        <p>Kliknite <a href="./">ovdje</a> kako bi ispunili obrazac.</p>
        {{/if}}
    </div>

