    <div class="heading">
        <h1>Raspored bot</h1>
    </div>
    <div class="section-container">
        <div class="section">
            <h2><a href="/pretplata">Pretplati se</a></h2>
        </div>
        <div class="section">
            <h2><a href="/postavke">Postavke raÄuna</a></h2>
        </div>
        <div class="section">
            <h2><a href="/prekid-pretplate">Prekini pretplatu</a></h2>
        </div>
    </div>