
<div class="card">
    {{#if rej1}}
    <p>E-mail <b>{{email}}</b> ne postoji u našoj bazi.</p>
    <div class="form-part">
        <input type="button" value="Natrag" onclick="window.location.assign('/unsubscribe')">
    </div>
    {{/if}}

    {{#if res1}}
    <p>E-mail je uspješno posalan na adresu <b>{{email}}</b>.</p>
    <p>Kako bi poništili pretplatu, potrebno je otvoriti link koji je naveden u e-mailu.</p>
    <div class="form-part">
        <input type="button" value="Natrag na početnu" id="end-button" onclick="window.location.assign('/home')">
    </div>
    {{/if}}

    {{#if rej2}}
    <p>E-mail <b>{{email}}</b> već postoji u našoj bazi.</p>
    <div class="form-part">
        <input type="button" value="Natrag" onclick="window.location.assign('/subscribe')">
    </div>
    {{/if}}

    {{#if res2}}
    <p>Uspješno ste registrirani. Izmjene u rasporedu sati će<br>
    Vam dolaziti na adresu <b>{{email}}</b></p>
    <div class="form-part">
        <input type="button" value="Natrag na početnu" id="end-button" onclick="window.location.assign('/home')">
    </div>
    {{/if}}
</div>