    <div class="heading">
        <h1>Raspored bot</h1>
    </div>
    <div class="card">
        <div class="form-card">
            <form action="/unsubscribe" method="POST">
                <div class="form-part">
                    <label for="unsubEmail">Upiši e-mail adresu sa koje više ne želiš primati izmjene</label><br>
                    <input type="email" id="unsubEmail" name="unsubEmail" required>
                </div>
                <div class="form-part">
                    <input type="button" value="Natrag" onclick="window.location.assign('../home')">
                    <input type="submit" value="Pošalji">
                </div>
            </form>
        </div>
    </div>