@media only screen and (max-width: 700px) {
    body 
    {
        font-size: 14px;
    }
    .card 
    {
        width: 25rem;
        font-size: 14px;
    }
    .card .form-part input[type="email"]
    {
        width: 150px;
        font-size: 14px;
    }
    .card input[type="submit"]
    {
        float: right;
        width: 80px;
        font-size: 14px;
    }

    .card input[type="button"]
    {
        float: left;
        width: 80px;
        font-size:14px;
    }

    .form-part
    {
        text-align: center;
    }

    .card .form-part select
    {
        width: 150px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    body 
    {
        font-size: 14px;
    }
    .card 
    {
        width: 15rem;
        font-size: 14px;
    }
    .card .form-part input[type="email"]
    {
        width: 100px;
        font-size: 14px;
    }
    .card input[type="submit"]
    {
        float: right;
        width: 80px;
        font-size: 14px;
    }
    .card input[type="button"]
    {
        float: left;
        width: 80px;
        font-size: 14px;
    }

    .form-part
    {
        text-align: center;
    }

    .card .form-part select
    {
        width: 100px;
        font-size: 12px;
    }

    #click
    {
        font-size: 14px;
    }

}