*
{
    margin: 0;
    padding: 0;
}

body
{
    font-size: 18px;
    font-family: LatoBold, sans-serif, Helvetica, Arial;
    color: whitesmoke;
    background-color: #272626;
    /*position: relative;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 600px;
}

.card
{
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    min-height: 10rem;
    padding: 2rem;
    background-color: #36393F;
    position: relative;
    top: 200px;
    border-radius: 0.2rem;
    justify-content: center;
}
.card a
{
    text-decoration: none;
    color:#ffdf2b;
}

.card a:hover
{
    text-decoration:underline;
}

.card .form-part
{
    text-align: center;
    margin: 20px;
}

.card .form-part input[type="email"]
{
    border: none;
    background: none;
    outline: none;

    width:250px;
    padding: 4px;
    position: relative;
    margin: 20px;
    
    color: aliceblue;
    font-size: 16px;
    text-align:center;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    transition: transform 0.2s, border-bottom-color 0.5s;
}

.card .form-part input[type="email"]:hover
{
    transform:scale(1.05);
}

.card .form-part input[type="email"]:valid
{
    border-color: #ffdf2b;
}

.card .form-part select
{
    
    background: none;
    outline: none;
    width: 250px;
    height: 30px;
    color:whitesmoke;
    font-weight: bold;
    background-color:#36393F;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    margin: 20px;
    padding: 2px 5px;
    text-align: center;
}

.card .form-checkbox input[type="checkbox"]
{
    margin-top: 10px;
}

.card .form-checkbox
{
    position: relative;
    bottom: 100px;
    left: 25%;
}

.form-part:last-child
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card-heading
{
    margin-bottom: 30px;
}

label
{
    font-weight: bold;
}

.card input[type="submit"]
{
    border: 2px solid #ffdf2b;
    background: none;
    outline: none;
    width: 100px;
    background-color: #ffdf2b;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2rem;
    padding: 0.4rem 0.2rem;
    border-radius: 3px;
    color: #36393F;
    font-family: LatoBold;
    font-weight: bolder;
    font-size: 16px;
    transition: background-color 0.08s;
}

.card input[type="submit"]:hover
{
    background-color: #36393F;
    color: #ffdf2b;
    border: 2px solid #ffdf2b;
}

.card input[type="button"]
{
    border: 2px solid #ffdf2b;
    background: none;
    outline: none;
    width:100px;
    background-color: #ffdf2b;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2rem;
    padding: 0.4rem 0.2rem;
    border-radius: 3px;
    
    color: #36393F;
    font-family: LatoBold;
    font-weight: bolder;
    font-size: 16px;
    transition: background-color 0.08s;
}

.card input[type="button"]:hover
{
    background-color: #36393F;
    color: #ffdf2b;
    border: 2px solid #ffdf2b;
}

#click
{
    border: 2px solid #ffdf2b;
    background: none;
    outline: none;
    width:100px;
    background-color: #ffdf2b;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    padding: 0.4rem 0.2rem;
    border-radius: 3px;
    color: #36393F;
    font-family: LatoBold;
    font-weight: bolder;
    font-size: 16px;
    transition: background-color 0.08s;
}

#click:hover
{
    background-color: #36393F;
    color: #ffdf2b;
    border: 2px solid #ffdf2b;
}

.card h2, p
{
    text-align: center;
}

b
{
    color:#ffdf2b;
}

#end-button
{
    width: fit-content;
}

header
{
    display: flex;
    color: #595959;
    background-color: #ffdf2b;
    padding: 20px;
    margin-bottom: 30px;
}

header h2:hover
{
    color: #aaa;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;

    background-color: #ffdf2b;
    /*margin-top: 150px;*/
    text-align: center;
    padding: 10px;
}

.main
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*min-height: 600px;*/

}

.list-inline
{
    margin-bottom: 10px;
}

.list-inline-item
{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.list-inline-item a
{
    color:#595959;
    font-size: 16px;
}

.list-inline-item a:hover
{
    color:#aaa;
}

.copyright
{
    color:#595959;
    font-size: 16px;
}


/*=============== webSettings ===============*/

.settingsHeading
{
    float:left;
}