*
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 18px;
    font-family: LatoBold, sans-serif, Helvetica, Arial;
    color: whitesmoke;
    background-color: #272626;
}

.heading
{
    /*color:#5865F2;*/
    color: #ffdf2b;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    position: relative;
    top: 150px;
}

.card
{
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    padding: 2rem;
    background-color: #36393F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.card a
{
    text-decoration: none;
    color:#ffdf2b;
}

.card a:hover
{
    text-decoration:underline;
}

.card .form-part
{
    text-align: center;
}

.card .form-part input[type="email"]
{
    border: none;
    background: none;
    outline: none;
    padding-top: 0.5rem;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid whitesmoke;
    width:250px;
    transition: transform 0.2s, border-bottom-color 0.5s;
}

.card .form-part input[type="email"]:hover
{
    transform:scale(1.05);
}

.card .form-part input[type="email"]:valid
{
    /*border-bottom-color: #5865F2;*/
    border-bottom-color: #ffdf2b;
}

.card .form-part select
{
    border: none;
    background: none;
    outline: none;
    width: 100px;
    /*color:aliceblue;*/
    color: #36393F;
    font-weight: bold;
    /*background-color: #5865F2;*/
    background-color: #ffdf2b;
    margin-top: 5px;
    padding: 2px 5px;
    border-radius: 5px;
}

.card .form-checkbox input[type="checkbox"]
{
    margin-top: 10px;
}

label
{
    font-weight: bold;
}

.card input[type="submit"]
{
    border: 2px solid #ffdf2b;
    background: none;
    outline: none;
    width: 100px;
    background-color: #ffdf2b;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    padding: 0.4rem 0.2rem;
    border-radius: 5px;
    color: #36393F;
    font-family: LatoBold;
    font-weight: bolder;
    font-size: 16px;
    transition: background-color 0.08s;
}

.card input[type="submit"]:hover
{
    background-color: #36393F;
    color: #ffdf2b;
    border: 2px solid #ffdf2b;
}

.card input[type="button"]
{
    border: 2px solid #ffdf2b;
    background: none;
    outline: none;
    width:100px;
    background-color: #ffdf2b;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    padding: 0.4rem 0.2rem;
    border-radius: 5px;
    color: #36393F;
    font-family: LatoBold;
    font-weight: bolder;
    font-size: 16px;
    transition: background-color 0.08s;
}

.card input[type="button"]:hover
{
    background-color: #36393F;
    color: #ffdf2b;
    border: 2px solid #ffdf2b;
}

#click
{
    width: fit-content;
    padding: 0.5rem 0.3rem;
}

.card h2, p
{
    text-align: center;
}

b
{
    color:#ffdf2b;
}

#end-button
{
    width: fit-content;
}
