.main-layout {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-primary);
}

.main-layout-content {
    width: 100%;
}

.layout-space {
    padding: 2rem;
}