.filter-main {
    width: 60vw;
    /* height: 30rem; */
    display: flex;
    /* background-color: var(--background-primary); */
    flex-direction: column;
    border-radius: 0.25rem;
    margin-top: 2rem;
    color: var(--text-primary);
    gap: 2rem;
}

.filter-header {
    width: 100%;
    /* height: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem 0;
    gap: 1rem;
    box-shadow: 0px 0px 10px 1px var(--box-shadow);
    background-color: var(--background-primary);
}

.filter-bottom {
    display: flex;
    width: 100%;
    /* height: 70%; */
    gap: 2rem;
}

.filter-selected {
    width: 50%;
    height: 20rem;
    overflow-y: auto;
    box-shadow: 0px 0px 10px 1px var(--box-shadow);
    background-color: var(--background-primary);
}

.filter-selected > span {
    padding: 1rem;
}

.filter-available {
    width: 50%;
    height: 20rem;
    box-shadow: 0px 0px 10px 1px var(--box-shadow);
    background-color: var(--background-primary);
}

.filter-available .available-classes {
    height: 80%;
    overflow-y: auto;
}

.filter-item {
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.filter-item.use-hover:hover {
    background-color: var(--common);
    color: white;
}

.filter-section-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary);
    color: white;
    height: 4rem;
    width: 100%;
}

.filter-icon {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 870px) {
    .filter-main {
        flex-direction: column;
    }

    .filter-bottom {
        flex-direction: column;
        height: 100%;
    }

    /*     .filter-left {
        width: 100%;
        height: 66%;
    } */

    /*         .filter-header {
        height: 50%;
    } */

    .filter-selected {
        width: 100%;
        /*  height: 50%; */
    }

    .filter-available {
        width: 100%;
    }
}

/* Filter List */

.filter-list-main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    border-radius: 0.25rem;
    color: var(--text-primary);
}

.filter-list-header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    color: white;
}

.filter-list-parent {
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
    box-shadow: 0px 4px 10px 1px var(--box-shadow);
    transition: background-color 0.2s;
}

.filter-list-parent button:hover {
    background-color: var(--common);
}

.filter-list-parent button {
    height: 100%;
    width: 20%;
    transition: background-color 0.2s;
}

.filter-list-label {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
