.input-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.input-field .input-buttons button {
    width: 7rem;
    padding: 0.6rem;
    border-radius: 0.25rem;
    transition: opacity 0.25s;
}

.input-buttons {
    display: flex;
    gap: 1rem;
}

.input-field .change-btn {
    background-color: var(--button-primary);
    color: var(--button-text-primary);
}

.input-field .cancel-btn {
    background-color: var(--button-secondary);
    color: var(--button-text-secondary);
}

.input-field .change-btn:hover,
.input-field .cancel-btn:hover {
    opacity: 0.8;
}
