.registration-root {
    top: calc(50vh - 108px) !important;
    border: 1px solid var(--fullwhite);
    position: fixed;
    z-index: 4;
}

.registration-email-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--quinary);
    width: 80%;
}

.registration-email-container h4 {
    color: var(--fullwhite);
    font-family: TitilliumLight;
    font-size: 16px;
}

.registration-email-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.registration-email-input-container input {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    color: var(--fullwhite);
    font-family: TitilliumLight;
    font-size: 14px;
}

.registration-email-input-container input::placeholder {
    color: var(--fullwhite);
    font-family: TitilliumLight;
    font-size: 14px;
}