.content {
    padding-left: 6rem;
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary);
}

.content.active {
    padding-left: 18rem;
}

.selected {
    background-color: var(--common);
}
