.page-header {
    position: relative;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-secondary);
    color: white;
    z-index: 0;
}

.page-header div {
    cursor: pointer;
}

.theme-icon {
    position: absolute;
    right: 1rem;
}
