.page-header {
    position: relative;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    z-index: 0;
    background-color: var(--background-primary);
    border-bottom: 1px solid var(--border-primary);
    color: var(--text-primary);
}

.page-header div {
    cursor: pointer;
}

.theme-icon {
    position: absolute;
    right: 1rem;
}
