<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Unsubscribe</title>
    </head>
    <body>
        <p>Ukoliko želite prestati pratiti izmjene u rasporedu sati<br>
        na adresi <b>{{email}}</b> kliknite na <a href="http://localhost:5000/unsubscribe/{{emailToken}}">unsubscribe</a></p>
    </body>
</html>