<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Dobrodošlica</title>
        <style>
            * {
                padding: 0;
                margin: 0;
            }
            html {
                font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
                font-weight: bold;
                color: rgb(73, 71, 71);
                padding-top: 100px;
            }
            .welcome {
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
            .welcome b
            {
                color: #5865F2;
            }
        </style>
    </head>
    <body>
        <div class="welcome">
            <p>Bok <b>{{email}}</b>, Raspored bot ti želi dobrodošlicu!</p>
        </div>
    </body>
</html>