<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/smallScreens.css">
    <link rel="stylesheet" href="/css/fonts.css">  
  </head>
  <body>
    <header>
      <div class="header-item">
        <h2>Raspored bot</h2>
      </div>
    </header>
    {{{body}}}
    <footer>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">O nama</a></li>
        <li class="list-inline-item"><a href="{{urlP}}">Početna</a></li>
        <li class="list-inline-item"><a href="{{urlZ}}">Zaštita podataka</a></li>
      </ul>
      <p class="copyright">© 2022 BrownBird Team</p>
    </footer>
  </body>
</html>