.login-main {
	padding-top: 2rem;
	padding-right: 6rem;
	width: 80%;
	margin: 0 auto;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30rem;
}

.login-body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
}

.login-body input {
	height: 3rem;
	width: 80%;
}

@media (max-width: 850px) {
	.login-main {
		width: 100%;
	}

	.login-box {
		width: 20rem;
	}
}