.home {
    min-height: calc(90vh - 105px);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.home-title-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title-container h1 {
    color: var(--quaternary);
    font-size: 4em;
}

.home-title-container h3 {
    color: var(--quinary);
    font-size: 2em;
}

.home-body {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.home-left-panel, .home-right-panel {
    box-sizing: border-box;
    min-height: 220px;
    width: 25%;
    padding: 30px;
    border-radius: 25px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
}

.home-left-panel > div {
    display: flex;
    flex-direction: column;
}

.home-left-panel > div > div, .home-right-panel > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.home-left-panel > div > div p, .home-right-panel > div > div p{
    color: var(--quinary);
    font-size: 0.8em;
}

.home-right-panel > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.register-with {
    color: var(--tertiary);
    text-decoration: underline;
    cursor: pointer;
}

.register-with:hover {
    text-decoration: none;
}

.discord-invite-button {
    font-family: TitilliumRegular;
    color: var(--fullwhite);
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    height: 40px;
    background-color: #7289DA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("../../login/assets/Discord_Logo.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;
    transition: transform 0.25s;
}

.discord-invite-button:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 950px) {
    .home-body {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

    .home-body img {
        grid-row: 1;
        justify-self: center;
    }

    .home-left-panel {
        grid-row: 2;
        justify-self: center;
    }

    .home-right-panel {
        grid-row: 3;
        justify-self: center;
    }

    .home-left-panel, .home-right-panel {
        width: 80%;
    }
}


@media only screen and (max-width: 840px) {
    .home-title-container h1 {
        font-size: 38px;
    }

    .home-title-container h3 {
        font-size: 28px;
    }
}